    #
    # MySQL
    #
    jdbc.default.driverClassName=com.mysql.jdbc.Driver
    jdbc.default.url=jdbc:mysql://{{getenv "LIFERAY_MYSQL_SERVICE_HOST"}}/{{getenv "MYSQL_DB"}}?useUnicode=true&characterEncoding=UTF-8&useFastDateParsing=false
    jdbc.default.username={{getenv "MYSQL_USER"}}
    jdbc.default.password={{getenv "MYSQL_PASS"}}
